body {
    font-family: 'Varela Round', sans-serif;
    color: #333;
    margin: 2em;
    background: #fcfcfc;
}

h1 {
    font-size: 2.5rem;
    margin: 0 0 .5rem 0;
}

h2 {
    font-size: 1.5rem;
    margin: .5rem 0 .5rem 0;
}

h3 {
    font-size: 1.2rem;
    margin: .5rem 0 .5rem 0;
}

blockquote {
    margin: 0;
    padding: 0 1em 0 1em;
    border-left: .25em solid lightgray;
}

div.document {
    margin: auto;
    max-width: 42rem;
    text-align: justify;
}

a {
    text-decoration: underline;
    text-underline-offset: .1em;
}
a:link, a:visited {
    color: #333;
}
a:visited {
    text-decoration-color: #aaa;
}
a:hover, a:active {
    color: #c33;
}

hr {
    border: 0;
    border-top: 1px solid;
}

pre, code {
    background: #ddd;
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(80%) invert(12%);
    width: 100%;
    height: 2em;
}

.person {
    width: calc(50% - 1.5rem);
    padding-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.person img {
    float: right;
    width: 60px;
    height: 60px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.box-left { /* position left of its container */
    width: 0;
    position: relative;
    right: 21.25rem; /* 20rem + 1.25rem */
}

.crumbs {
    position: fixed;
    width: 20rem;
    font-size: large;
    white-space: nowrap;
    text-align: right;
    margin-right: 1.25rem;
}

.box-right {
    width: 0;
    float: right;
}

.syndication {
    position: fixed;
    margin-left: 1.25rem;
}

.vtt-caption {
  display: none;
  height: 5em;
  padding: 0.5em;
  border: 1px solid;
}

.vtt-speaker{
  text-decoration: underline;
}

.vtt-text {
  text-align: center;
  vertical-align: center;
  font-weight:bold;
  text-wrap:balance;
  /*
   * text-wrap:balance above helps text wrap without one word on the next line,
   * making it easier to read
   * https://developer.chrome.com/docs/css-ui/css-text-wrap-balance
   */
}

#perl-ad-target {
    border-style: dashed;
    border-width: 1px;
    border-radius: 1em;
    text-align: center;
    font-size: smaller;
    padding: 0;
    margin: 1em 0 1em 0;
}

#perl-ad-legend {
    float: left;
    font-size: xx-small;
    background: #fcfcfc;
    margin-top: -1.25ex;
    margin-left: 2em;
}
