body {
    font-family: 'Varela Round', sans-serif;
    color: #333;
    font-size: 12pt;
    margin: 20px;
    background: #fcfcfc;
}

h1 {
    font-size: 32pt;
    margin: 0;
    margin-bottom: .5ex;
    white-space: nowrap;
}

h2 {
    font-size: 18pt;
    margin: 0;
    margin-top: 1em;
    margin-bottom: 1ex;
}

h3 {
    font-size: 14pt;
    margin: 0;
    margin-top: 1em;
    margin-bottom: 1ex;
}

blockquote {
    margin: 0;
    padding: 0 1em 0 1em;
    border-left: .25ex solid lightgray;
}

div.document {
    margin: auto;
    max-width: 80ex;
    text-align: justify;
}

a {
    text-decoration: underline;
    text-underline-offset: 0.33ex;
}
a:link, a:visited {
    color: #333;
}
a:visited {
    text-decoration-color: #aaa;
}
a:hover, a:active {
    color: #c33;
}

hr {
    border: 0;
    border-top: 1px solid;
}

pre, code {
    background: #ddd;
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(80%) invert(12%);
    width: 100%;
    height: 2em;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.vtt-caption {
  display: none;
  height: 5em;
  padding: 0.5ex;
  border: 1px solid;
}

.vtt-speaker{
  text-decoration: underline;
}

.vtt-text {
  text-align: center;
  vertical-align: center;
  font-weight:bold;
  text-wrap:balance;
  // text-wrap:balance above helps text wrap without one word on the next line,
  // making it easier to read
  // https://developer.chrome.com/docs/css-ui/css-text-wrap-balance
}

#perl-ad-target {
    border-style: dashed;
    border-width: 1px;
    border-radius: 1em;
    text-align: center;
    font-size: smaller;
    padding: 0;
}

#perl-ad-legend {
    float: left;
    font-size: xx-small;
    background: #fcfcfc;
    margin-top: -1.25ex;
    margin-left: 2em;
}
